<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <main>
        <form method="post" action="/log">
            <p>
              <label for="username">Mail: </label>
              <input type="text" name="user" id="user">
            </p>
            <p>
              <label for="password">Contraseña: </label>
              <input type="text" name="pass" id="pass">
            </p>
            <div>
                <button><a href="/index.ejs">Entrar</a></button>
            </div>
            <div>
                <button><a href="/registro.ejs">Registrarse</a></button>
            </div>
          </form>
    </main>
</body>

</html>