<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/signin.css">
    <title>Login</title>
</head>

<body>
    <main>
        <form class="form-pokemon" action="/signin" method="post">
            <h1 class="tittle">Login</h1>
            <label for="username">Email: </label>
            <input type="email" name="email" placeholder="Ingrese su email">
            <label for="password">Contraseña: </label>
            <input type="password" name="password" placeholder="Ingrese su Contraseña">
            <button type="submit" class="button-create-poke">Entrar</button>
            <button class="button-create-poke"> <a href="signup">Registrarse</a></button>
            <% if (signinMessage) { %>
              
              <div><%= signinMessage %></div>
  
          <% } %>
        </form>
    </main>
</body>

</html>